html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}
h1 {
  color: #000000;
  margin: 0 0 15px 0;
  text-align: center;
}
h2 {
  color: #000000;
  margin: 15px 0 15px;
  text-align: center;
}
h3 {
  color: #333333;
  margin: 20px 0 5px 0;
  border-bottom: 1px solid #aaaaaa;
  padding: 2px;
}
h4 {
  color: #666666;
  margin: 10px 0 10px 0;
}
p {
  color: #444444;
  margin: 0 0 10px 0;
}
a {
  color: #440000;
}
ul {
  padding: 0 0 0 30px;
}
li {
  margin-bottom: 5px;
}
body {
  padding: 0;
}
ol {
  padding: 0 0 0 20px;
}
.nav {
  padding: 0;
  text-align: center;
}
.nav li {
  display: inline;
  padding-right: 20px;
}
.nav li:last-child {
  padding-right: 0;
}
.day-time {
  color: #444444;
  margin: 0 0 3px 0;
}
.concert-location {
  color: #888888;
  margin: 0 0 15px 0;
}
.header {
  padding: 15px;
}

.header img {
  display: block;
  margin: 0 auto 15px;
}
.content-section {
  padding: 15px;
  width: 450px;
  margin: 0 auto;
}
.album {
  border: 2px dashed #bbbbbb;
  padding: 5px 10px 5px 10px;
  margin-bottom: 5px;
}
.bands-list {
  list-style-type: none;
  padding-left: 0;
}
.bands-list h3 {
  border-bottom: 0;
  margin: 0;
}
.bands-list a {
  text-decoration: none;
  color: #ff2244;
}
.bands-list li {
  border: 1px solid #555555;
}
